*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    margin-right: 16px;

}

.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    width:60px;
    height:60px;
    border-radius: 50%;
    cursor: pointer;
}

.search button img {
    margin: .2rem 0 0;
    width: 16px;
}